<label><input type="checkbox" [(ngModel)]="showFilters" />show controls</label>

<label><input type="checkbox" [(ngModel)]="showCol2" />show col 2</label>

<label><input type="checkbox" [(ngModel)]="showGroup1" />show group 1</label>

<label><input type="checkbox" [(ngModel)]="showGroup2" />show group 2</label>

<label><input type="checkbox" [(ngModel)]="showGroup3" />show group 3</label>

<label><input type="checkbox" [(ngModel)]="showHeader" />show header</label>

<button *ngIf="showFilters" (click)="tableState.addItem()">+</button>

<div style="height: calc(100vh - 50px);">
	<a-grid (onBodyScroll)="tableState.bodyScroll($event)" [showHeader]="showHeader" [items]="tableState.items$ | async | myListFilter:['aaa',tableState.aaaFilter,'ddd',tableState.dddFilter]"
		(onRowClick)="tableState.select($event)" (onRowDoubleClick)="tableState.checkDblClick($event)">

		<div *aGridDetail="let index=rowIndex expandedrows tableState.expandedRows;">
			<input type="text" [(ngModel)]="tableState.editableRow.aaa" placeholder="aaa" />
			<input type="text" [(ngModel)]="tableState.editableRow.sss" placeholder="sss" />
			<input type="text" [(ngModel)]="tableState.editableRow.ddd" placeholder="ddd" />
			<input type="text" [(ngModel)]="tableState.editableRow.eee" placeholder="eee" />
			<button (click)="tableState.saveEditedRow(index)">save</button>
		</div>

		<ng-container *ngIf="showGroup1">
			<div [style.padding-left]="10+grLevel*20+'px'" *aGridGroup="let group by 'aaa'; let groupChild=children;let grLevel=groupLevel;let groupCollapsed=collapsed;">
				<button (click)="group.toggleCollapse()">{{groupCollapsed?'+':'–'}}</button>
				{{group.value + ' ('+groupChild.length+') level:'+grLevel}}
			</div>
		</ng-container>
		<ng-container *ngIf="showGroup2">
			<div [style.padding-left]="10+grLevel*20+'px'" *aGridGroup="let group by 'sss'; let groupChild=children;let grLevel=groupLevel;let groupCollapsed=collapsed;">
				<button (click)="group.toggleCollapse()">{{groupCollapsed?'+':'–'}}</button>
				{{group.value + ' ('+groupChild.length+') level:'+grLevel}}</div>
		</ng-container>

		<ng-container *ngIf="showGroup3">
			<div [style.padding-left]="10+grLevel*20+'px'" *aGridGroup="let group by 'ddd'; let groupChild=children;let grLevel=groupLevel;let groupCollapsed=collapsed;">
				<button (click)="group.toggleCollapse()">{{groupCollapsed?'+':'–'}}</button>
				{{group.value + ' ('+groupChild.length+') level:'+grLevel}}</div>
		</ng-container>

		<a-grid-column [colName]="'index'" [resizable]="false" [width]="40">
			<span *aGridCell="let index=rowIndex">{{index+1}}</span>
		</a-grid-column>

		<a-grid-column [colName]="'check'" [resizable]="false" [width]="40">
			<input *aGridCell="let row" type="checkbox" [(ngModel)]="row[tableState.checkedProperty]" />
		</a-grid-column>


		<a-grid-column [colName]="'toggle'" [resizable]="false" [width]="40">
			<button *aGridCell="let row" (click)="tableState.toggleRow(row)">
				{{tableState.expandedRows.indexOf(row)===-1?'+':'–'}}
			</button>
		</a-grid-column>

		<a-grid-column *ngIf="showCol2" [colName]="'aaa'" [colTitle]="'aaaTitle'">

			<a *aGridHeader="let col;" (click)="tableState.sortBy('aaa')">aaa</a>

			<div *ngIf="showFilters">
				<input [(ngModel)]="tableState.aaaFilter" *aGridFilter class="a-grid__filter-control" type="text" />
			</div>
		</a-grid-column>

		<a-grid-column [colName]="'sss'" [colTitle]="'sssTitle'" [width]="110">
			<a *aGridHeader="let col;" (click)="tableState.sortBy('sss')">sss</a>
		</a-grid-column>

		<a-grid-column [colName]="'ddd'" [colTitle]="'dddTitle'">
			<a *aGridHeader="let col;" (click)="tableState.sortBy('ddd')">ddd</a>
			<div *ngIf="showFilters">
				<input [(ngModel)]="tableState.dddFilter" *aGridFilter class="a-grid__filter-control" type="text" />
			</div>
		</a-grid-column>

		<a-grid-column>
			<a *aGridHeader="let col;" (click)="tableState.sortBy('aGridChecked')">checked</a>
			<span *aGridCell="let row">{{row.aGridChecked}}</span>
		</a-grid-column>



		<a-grid-column [colName]="'eee'" [colTitle]="'eeeTitle'"></a-grid-column>

		<a-grid-column [resizable]="true">
			<a *aGridHeader="let col;" (click)="tableState.sortBy('eee')">ddd</a>
			<div *aGridCell="let row; let index=rowIndex">
				<button (click)="tableState.removeDay(index)">-</button> {{row.eee}}
				<button (click)="tableState.addDay(index)">+</button>
			</div>
		</a-grid-column>

		<a-grid-column [colTitle]="'delete item'" [resizable]="true">
			<div *aGridCell="let row; let tr=rowElement">
				<button (mouseenter)="tableState.deleteMouseOver(tr)" (mouseleave)="tableState.deleteMouseLeave(tr)" (click)="tableState.removeItem(row)">-</button>
			</div>
		</a-grid-column>

		<a-grid-bottom *ngIf="showFilters">
			<a-grid-pager>
				<a-grid-button (click)="showMessage(123)">
					<<</a-grid-button>
						<a-grid-button>
							<</a-grid-button>
								<span>1 of 1</span>
								<a-grid-button>></a-grid-button>
								<a-grid-button>>></a-grid-button>
			</a-grid-pager>
		</a-grid-bottom>
		</a-grid>
</div>