<table class="a-grid__body">
    <thead>
        <tr>
            <th class="a-grid__body-column" *ngFor="let column of columns;let l = last; let i = index;" [style.width]="!l || lastColumnResizable?column.width+'px':null"></th>
            <th class="a-grid__body-column" *ngIf="lastColumnResizable"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items; let i = index;" class="a-grid__row" [ngClass]="{'a-grid__row_selected':item[selectedProperty],'a-grid__row_checked':item[checkedProperty]}"
            (click)="rowClick(item)" (dblclick)="rowDoubleClick(item)">
            <td *ngFor="let column of columns" class="a-grid__cell">
                <a-grid-column-cell-loader *ngIf="column.cell" [rowData]="item" [rowIndex]="i" [column]="column"></a-grid-column-cell-loader>
                <span *ngIf="!column.cell" [textContent]="item[column.colName]"></span>
            </td>
            <td *ngIf="lastColumnResizable"></td>
        </tr>
    </tbody>
</table>