<table class="a-grid__body">
    <thead>
        <tr>
            <th class="a-grid__body-column" *ngFor="let column of columns;let l = last; let i = index;" [style.width]="!l || lastColumnResizable?column.width+'px':null"></th>
            <th class="a-grid__body-column" *ngIf="lastColumnResizable"></th>
        </tr>
    </thead>
    <tbody>
        <tr *aGridFor="let item of items groupby groups; let i = index; let groupCols=groupColumns; let groupChildren=children;" class="a-grid__row" [ngClass]="{'a-grid__row_selected':item[selectedProperty],'a-grid__row_checked':item[checkedProperty]}"
            (click)="!groupCols?rowClick(item):null" (dblclick)="!groupCols?rowDoubleClick(item):null">
            <td *ngFor="let column of groupCols || columns" [attr.colspan]="groupCols?columnsLength:1" class="a-grid__cell">
                <a-grid-column-cell-loader *ngIf="!groupCols && column.cell" [rowData]="item" [rowIndex]="i" [column]="column"></a-grid-column-cell-loader>
                <span *ngIf="!groupCols && !column.cell" [textContent]="item[column.colName]"></span>
                <a-grid-group-loader *ngIf="groupCols" [groupData]="item" [group]="column" [children]="groupChildren" ></a-grid-group-loader>
            </td>

            <td *ngIf="lastColumnResizable && !groupCols"></td>
        </tr>
    </tbody>
</table>