:host{
    display: block;
    position: absolute;
    right: 0;
    top:0;
    cursor: e-resize;
    z-index: 999;
}


.a-grid__column-resizer {
    width: 7px;
    height: 20px;
    position: absolute;
    right: 0;
    top:0;
    cursor: e-resize;
}

.a-grid__column-resizer::before{
    content: " ";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: #808080;
    top: 5px;
    left: 3px;
}