<div (contentUpdated)="updateBodyBindings()">
	<ng-content></ng-content>
</div>
<div name="gridView" class="a-grid">
	<div #headerContainer [ngClass]="{'a-grid__header-container_hidden':!showHeader}" class="a-grid__header-container noselect" (contentUpdated)="headerHeightChanged(headerContainer.offsetHeight)">
		<table class="a-grid__header" #headertable>
			<thead *ngIf="showHeader">
				<tr>
					<th class="a-grid__column" *ngFor="let column of columns; let i = index; let l = last;" [style.width]="!l || lastColumnResizable?column.width+'px':null">
						<span class="a-grid__column-title">
                            <span *ngIf="!column.header" [textContent]="column.colTitle || ''"></span>
						<a-grid-column-header-loader *ngIf="column.header" [column]="column"></a-grid-column-header-loader>
						</span>
						<a-grid-column-resizer (columnResized)="column.changeWidth($event); updateBodyBindings();" *ngIf="column.resizable"></a-grid-column-resizer>
					</th>
					<th *ngIf="lastColumnResizable"></th>
				</tr>
				<tr>
					<th *ngFor="let column of columns; let i = index;">
						<a-grid-filter-loader *ngIf="column.filter" [column]="column"></a-grid-filter-loader>
					</th>
					<th *ngIf="lastColumnResizable"></th>
				</tr>
			</thead>
		</table>
	</div>
	<div #bodyContainer class="a-grid__body-container" (scroll)="onBodyScroll.next($event)" [style.height]="bodyHeight" [scrollToPaddingRight]="headertable" [synkHorizontalScroll]="headerContainer">
		<a-grid-body [columns]="bodyColumns" [groups]="bodyGroups" [items]="items" [selectedProperty]="selectedProperty || selectedPropertyDefault" [checkedProperty]="checkedProperty || checkedPropertyDefault"
			(onRowClick)="rowClick($event)" (onRowDoubleClick)="rowDoubleClick($event)"></a-grid-body>
	</div>
	<div #bottomContainer (contentUpdated)="bottomHeightChanged(bottomContainer.offsetHeight)">
		<ng-content select="a-grid-bottom"></ng-content>
	</div>
</div>