<ng-content></ng-content>
<div name="gridView" class="a-grid">
	<div #headerContainer class="a-grid__header-container noselect" (contentUpdated)="headerHeightChanged($event)">
		<table class="a-grid__header" #headertable>
			<thead>
				<tr>
					<th class="a-grid__column_check" *ngIf="check!=false"></th>
					<th class="a-grid__column a-grid__column_sortable" *ngFor="let column of columns; let i = index;" [style.width]="column.width+'px'">
						<span class="a-grid__column-title">
                            <span *ngIf="!column.header" [textContent]="column.colTitle || ''"></span>
						<a-grid-column-header-loader *ngIf="column.header" [column]="column"></a-grid-column-header-loader>
						</span>
							<a-grid-column-resizer (columnResized)="column.changeWidth($event); updateColumns();" *ngIf="column.resizable"></a-grid-column-resizer>
					</th>
					<th></th>
				</tr>
				<tr>
					<th class="a-grid__column_check" *ngIf="check!=false"></th>
					<th *ngFor="let column of columns; let i = index;">
						<a-grid-filter-loader *ngIf="column.filter" [column]="column"></a-grid-filter-loader>
					</th>
					<th></th>
				</tr>
			</thead>
		</table>
	</div>
	<div #bodyContainer class="a-grid__body-container" [style.height]="bodyHeight" [scrollToPaddingRight]="headertable" (scroll)="onScroll($event, headerContainer)">
		<a-grid-body [columns]="bodyColumns" [items]="items" [selectedProperty]="selectedProperty || selectedPropertyDefault" [checkedProperty]="checkedProperty || checkedPropertyDefault"
			(onSelect)="rowSelect($event)" (onCheck)="rowCheck($event)"></a-grid-body>
	</div>
	<div #bottomContainer (contentUpdated)="bottomHeightChanged($event)">
		<ng-content select="a-grid-bottom"></ng-content>
	</div>
</div>